.gradle/
.gradle-user-home/
.kotlin/
build/
versions/*/build/

.architectury-transformer
.runs/

.idea/
*.iml
*.ipr
*.iws

hs_err_*.log
replay_*.log
*.hprof
*.jfr

/*.jar
jdks/
run_build.bat
run_client.bat