.gradle/
.gradle-user-home/
.kotlin/
build/
versions/*/build/
run/

.architectury-transformer
.runs/

.idea/
*.iml
*.ipr
*.iws

hs_err_*.log
replay_*.log
*.hprof
*.jfr

/*.jar
jdks/
run_build.bat
run_client_1.19.2.bat
run_client_1.20.1.bat
run_client_1.21.1.bat
run_client_1.19.2-fabric.bat
run_client_1.20.1-fabric.bat
run_client_1.21.1-fabric.bat
logo.png
logo.png~