.gradle/
.gradle-user-home/
.kotlin/
build/
versions/*/build/
run/

.architectury-transformer
.runs/

.idea/
*.iml
*.ipr
*.iws

hs_err_*.log
replay_*.log
*.hprof
*.jfr

/musync-*.jar
jdks/
run_build.bat
run_clean_build.bat
publish_mods.bat
run_client_*.bat
run_server_*.bat
run_data_*.bat


logo.png
logo.png~
publish_env.bat
changelog.md
build_output.txt
.gradle-task-list.txt
